In [63]:
import pandas as pd
# here we use the DATE column in the data as the index
weather = pd.read_csv("data/weather.csv", index_col="DATE")

In [64]:
# FEATURE ENGINEERING
# 1. Handling missing data - missing data or null values are bad for modelling

# calculate null value percentage in each column
null_values_per_col = weather.apply(pd.isnull).sum()
total_datapoints = weather.shape[0]
null_percent = null_values_per_col / total_datapoints

In [ ]:
null_percent

In [65]:
# only use columns where the null percent is less than 5%
valid_columns = weather.columns[null_percent < 0.05]
weather = weather[valid_columns].copy()

In [66]:
weather

# STATION = Id of the station where the data was collected
# NAME = Station name and city location
# PRCP = Precipitation
# SNOW = Snow
# SNWD = Snow depth
# TMAX = Maximum temperature
# TMIN = Minimum temeperature

,STATION,NAME,PRCP,SNOW,SNWD,TMAX,TMIN
DATE,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,28,22
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,31,22
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.02,0.0,0.0,38,25
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,31,23
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,35,21
...,...,...,...,...,...,...,...
2022-10-17,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.08,0.0,0.0,67,54
2022-10-18,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,58,48
2022-10-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,56,43
2022-10-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,61,44
2022-10-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",0.00,0.0,0.0,64,43

In [67]:
# Now the only column which contain null values is the SNWD column
# To deal with this, fill the null values with the last valid value
# Its called forward filling and we can use pandas' DataFrame.ffill() method for that
weather = weather.ffill()

In [68]:
weather.apply(pd.isnull).sum()

STATION    0
NAME       0
PRCP       0
SNOW       0
SNWD       0
TMAX       0
TMIN       0
dtype: int64

In [69]:
# 2. Assign right datatypes to columns and index
weather.dtypes
# here all the columns have the right datatype

STATION     object
NAME        object
PRCP       float64
SNOW       float64
SNWD       float64
TMAX         int64
TMIN         int64
dtype: object

In [70]:
weather.index

Index(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04', '1970-01-05',
       '1970-01-06', '1970-01-07', '1970-01-08', '1970-01-09', '1970-01-10',
       ...
       '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15', '2022-10-16',
       '2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20', '2022-10-21'],
      dtype='object', name='DATE', length=19287)

In [71]:
# convert the index datatype to datetime instead of object for ease of processing
weather.index = pd.to_datetime(weather.index)

In [72]:
weather.index

DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04',
               '1970-01-05', '1970-01-06', '1970-01-07', '1970-01-08',
               '1970-01-09', '1970-01-10',
               ...
               '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15',
               '2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19',
               '2022-10-20', '2022-10-21'],
              dtype='datetime64[ns]', name='DATE', length=19287, freq=None)

In [74]:
# 3. Check if there are any gaps in the data
weather.index.year.value_counts().sort_index()

Index([1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970,
       ...
       2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022],
      dtype='int32', name='DATE', length=19287)

In [73]:
weather.columns.shape[0]

7